<html>
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="/index.css">
	<title>index</title>
</head>

<body>
	<!-- container and grid -->
	<div class="container pure-g">

		<!-- header -->
		<header class="header pure-u-1">
			<div class="pure-g">
				<div class=" shadow index-logo pure-u-1-8">
					<h1></h1>
				</div>
				<div class="pure-u-3-4">
					<div class="header-text">
						<h1>wee living</h1>
						<p>what do you need help with?</p>
					</div>
				</div>
				<div class="pure-u-1-8">
					<h1></h1>
				</div>
			</div>
		</header>

		<!-- navigation -->
		<nav class="nav pure-u-1">
			<div class="pure-g">
				<div class="pure-u-1-2">
					<h2></h2>
					<form method="GET" action="/forums">
						<button class="pure-button">homepage</button>
					</form>
				</div>
				<div class="pure-u-1-2">
					<h2></h2>
					<% id.forEach(function(e){ %>
						<form method="GET" action="/forums/<%= e.id %>/threads">
							<button class="pure-button">threads page</button>
						</form>
					<% }); %>
				</div>
			</div>
		</nav>

		<!-- page content -->
		<div class="content shadow pure-u-1-1">
			<div class="pure-g">
			<% id.forEach(function(e){ %>
				<div class="pure-u-1-8">		
				</div>
				<div class="logo shadow pure-u-1-8">
				</div>
				<div class="title pure-u-1-2">
				<form method="POST" action="/forums/<%= e.id %>/threads"><br>
					<input type="text" name="newThread" placeholder="thread title" size="35"><br><br>
					<button class="pure-button">submit new thread</button>
				</form>
				<div class"pure-u-1-4">
				</div>
				</div>
			<% }); %>
			</div>
		</div>
		
		<!-- footer -->
		<footer class="footer pure-u-1-1">
			<div class="pure-g">
				<div class="pure-u-1">
					<p>&copy; 2015 by ethan</p>
				</div>
				<div class="social-media pure-u-1">
					<ul class="social-icons">
						<li>
							<i class="fa fa-3x fa-facebook-square"></i>
						</li>
						<li>
							<i class="fa fa-twitter fa-3x"></i>
						</li>
						<li>
							<i class="fa fa-instagram fa-3x"></i>
						</li>
					</ul>
				</div>
			</div>
		</footer>

	</div>

</body>
</html>