<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Italiana' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="/index.css">
	<title>index</title>
</head>

<body>
	<!-- container and grid -->
	<div class="container pure-g">

		<!-- header -->
		<header class="header pure-u-1">
			<div class="pure-g">
				<div class=" shadow index-logo pure-u-1-8">
					<h1></h1>
				</div>
				<div class="pure-u-3-4">
					<div class="header-text">
						<h1>wee living</h1>
						<p>life hacks for small spaces</p>
					</div>
				</div>
				<div class="pure-u-1-8">
					<h1></h1>
				</div>
			</div>
		</header>

		<!-- navigation -->
		<nav class="nav pure-u-1">
			<div class="pure-g">
				<div class="pure-u-1-2">
					<h2></h2>
					<form method="GET" action="/forums">
						<button class="pure-button">homepage</button>
					</form>
				</div>
				<div class="pure-u-1-2">
					<h2></h2>
					<% id.forEach(function(e){ %>
					<form method="GET" action="/forums/<%= e.id %>/threads">
						<button class="pure-button">back to threads page</button>
					</form>
					<% }); %>
				</div>
			</div>
		</nav>

		<!-- page content -->
		<div class="content shadow pure-u-1-1">
			<div class="pure-g">
				<div class="content-threads pure u-1">
					<div class="pure-g">
					<% stuff.forEach(function(e){ %>
						<div class="pure-u-1-8">		
						</div>
						<div class="logo shadow pure-u-1-8">
						</div>
						<div class="title pure-u-1-2">
							<h3> <%= e.title %> </h3>
							<p><%= e.votes %> votes</p>
						</div>
						<div class="pure-u-1-4">
						</div>

						<div class="comment-box pure-u-1">
							<form method="POST" action="/forums/<%=e.interests_id%>/threads/<%=e.id%>/replies">
								<input type="hidden" name="currentVotes" value="<%= e.votes %>">
								<input class="reply" type="text" name="username" size="30" placeholder="user name"><br><br>
								<input class="reply" type="text" name="reply" size="75" placeholder="add a new comment"><br><br>
								<input type="radio" name="vote" value="1"> click here to vote for this thread<br><br>
								<button class="pure-button">submit reply</button>
							</form>
						</div>
					<% }); %>

						<div class="pure-u-1">
							<h2> comments: </h2>
						</div>
						
						<% replies.forEach(function(e){ %>
							<div class="reply-content pure-u-1">
								<p> <%=e.username %> commented: "<%= e.content %>" <%= e.timestamp %></p>
							</div>
						<% }); %>
					</div>
				</div>
			</div>
		</div>
		
		<!-- footer -->
		<footer class="footer pure-u-1-1">
			<div class="pure-g">
				<div class="pure-u-1">
					<p>&copy; </p>
				</div>
				<div class="social-media pure-u-1">

				</div>
			</div>
		</footer>

	</div>

</body>
	<script src="../app.js"></script>
</html>