<html>
<head>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
	<link rel="stylesheet" href="/index.css">
	<title>index</title>
</head>

<body>
	<!-- container and grid -->
	<div class="container pure-g">

		<!-- header -->
		<header class="header pure-u-1">
			<div class="pure-g">
				<div class="logo pure-u-1-5">
					<h1>logo here</h1>
				</div>
				<div class="pure-u-1-2">
					<div class="header">
						<h1>wee living</h1>
						<p>life hacks for small spaces</p>
					</div>
				</div>
				<div class="pure-u-1-5">
					<h1></h1>
				</div>
			</div>
		</header>

		<!-- navigation -->
		<nav class="nav pure-u-1">
			<div class="pure-g">
				<div class="pure-u-1-2">
					<h2>navigation here</h2>
					<% id.forEach(function(e){ %>
						<form method="GET" action="/forums/<%= e.id %>/threads/new">
							<input type="submit" value="add new thread">
						</form>
					<% }); %>
				</div>
				<div class="pure-u-1-2">
					<h2>navigation here</h2>
					<form method="GET" action="/forums">
						<input type="submit" value="back to interests page">
					</form>
				</div>
			</div>
		</nav>

		<!-- page content -->
		<div class="content pure-u-1-1">
			<div class="pure-g">
			<% stuff.forEach(function(e){ %>
				<div class="content-threads pure-u-1">
					<div class="pure-g">
					<div class="logo pure-u-1-5">
						<h3>logo</h3>
					</div>
					<div class="pure-u-3-5">
						<h3> <%= e.title %> </h3>
					</div>
					<div class="votes pure-u-1-5">
						<h3> votes: <%= e.votes %> </h3>
						<form method="GET" action="/forums/<%=e.interests_id%>/threads/<%=e.id%>">
							<input type="submit" value="view this thread">
						</form>
					</div>
					</div>
				</div>
				
			<% }); %>
			</div>
		</div>
		
		<!-- footer -->
		<footer class="footer pure-u-1-1">
			<div class="pure-g">
				<div class="pure-u-1">
					<p>&copy; 2015 by ethan</p>
				</div>
				<div class="social-media pure-u-1">
					<ul class="social-icons">
						<li>
							<i class="fa fa-3x fa-facebook-square"></i>
						</li>
						<li>
							<i class="fa fa-twitter fa-3x"></i>
						</li>
						<li>
							<i class="fa fa-instagram fa-3x"></i>
						</li>
					</ul>
				</div>
			</div>
		</footer>

	</div>

</body>
</html>